<link rel="stylesheet" href="/css/posts.css" />
<% if(locals.user && locals.user.id === item.user.id){ %>

<div class="userPost-container">
  <div class="user-content">
    <p>Posted By : <a href=""> <%= item.user.name %> </a></p>
    <p><p>
      <%= item.content %>
    </p></p>
  </div>
  <div class="deleteBtn">
      
      <a href="/posts/delete/<%= item._id %>">Delete Post</a>
  </div>


<% } %>

<div id="post-comment">
  <% if(locals.user){ %>
  <form action="/comment/create" method="POST">
    <input
      type="text"
      name="content"
      placeholder="write comment on the post"
      required
    />
    <input type="hidden" name="post" value="<%= item._id %>" />
    <input type="submit" value="Add comment" />
  </form>
  <% }%>
  <div class="post-comment-list">
    <ul id="post-comment- <%= item._id %>" class="comment">
      <% for(comment of item.comments){ %> <%- include("_comment") %> <% } %>
    </ul>
  </div>
</div>

</div>
