<!-- this page will be render in the body tag of the layouts.ejs -->
<!-- link is here also we can metion the script tag in last  -->
<link rel="stylesheet" href="/css/home.css" />
<div class="timeline">
  <section class="main">
    <% if(locals.user){ %>
    <h2 id="user-tag">Time Line</h2>
    <section id="feed-posts">
      <form action="/posts/create" id="new-post-form" method="POST">
        <div class="textarea">
          <textarea
            name="content"
            rows="5"
            required
            placeholder="Write Something here!"
          ></textarea>
        </div>
        <div id="post-submit">
          <input type="submit" value="Share Your Thoughts" />
        </div>
      </form>
      <% }%>
    </section>
    <section id="posts-list-container">
      <ul>
        <% for( post of posts){ %>
        <!-- if user is logged in and the current user is the one who is deleting their post not someone else is deting post -->
        <%- include('_post') %> <% } %>
      </ul>
    </section>
  </section>

  <section id="user-friends">
    <h4>friends</h4>
    <% for(u of users){ %>
    <p>
      <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
    </p>

    <%} %>
  </section>
  <!-- <section><%- include('_chat_box') %></section> -->
</div>
<script src="js/home_posts.js"></script>
<script src="js/comments.js"></script>
<script src="js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
    console.log(toggleLike);
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user) { %>
<script>
  new chatEngine("user-chat-box", "<%= locals.user.email %>");
</script>
<% } %>
