<!-- this page will be render in the body tag of the layouts.ejs -->
<!-- link is here also we can metion the script tag in last  -->
<link rel="stylesheet" href="/css/layout.css" />
<section id="feed-posts">
  <h4>posts</h4>
  <% if(locals.user){ %>
  <form action="/posts/create" id="new-form-post" method="POST">
    <textarea
      name="content"
      id=""
      cols="30"
      rows="3 required"
      placeholder="write something to post"
    ></textarea>
    <input type="submit" value="Submit" />
  </form>
  <% }%>

  <div id="post-list-container">
    <ul>
      <% posts.map( item =>{ %>
      <li><%= item.content %></li>
      <li><%= item.user.name %></li>

      <div id="post-comment">
        <% if(locals.user){ %>
        <form action="/comment/create" method="POST">
          <input
            type="text"
            name="content"
            placeholder="write comment on the post"
            required
          />
          <input type="hidden" name="post" value="<%= item._id %>" />
          <input type="submit" value="Add comment" />
        </form>
        <% }%>
        <div class="post-comment-list">
          <ul id="post-comment- <%= item._id %>">
            <% item.comments.map( (comment) =>{ %>
            <li><%= comment.content %></li>
            <li><%= item.user.name %></li>
            <% }) %>
          </ul>
        </div>
      </div>
      <% }) %>
    </ul>
  </div>
</section>
