<!-- this page will be render in the body tag of the layouts.ejs -->
<!-- can add css and scripts here and will render in layouts.ejs -->
<link rel="stylesheet"  href="<%= assetPath('css/profile.css') %>"/>
<h1 class="profile-tag">Profile Page</h1>

<%  if(user.id == profile_user.id) { %>
        <!-- if user matches with current user then show user update form -->
            <div class="updateForm">
                <form action="/user/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                    <div>
                    <input type="text"  placeholder="name" name="name" value= "<%= profile_user.name %>" />
                    </div>
                    <div>
                        <input type="email"  placeholder="email" name="email" value= "<%= profile_user.email %>"  />
                    </div>
                    <div>
                        <input type="file"  placeholder="Profile Pictuire" name="avatar"  />
                    </div>
                    <div>
                        <input type="submit" value="Update Profile" />
                    </div>
                    </form>
                    <div class="profile-img"><img src="<%= user.avatar %>"  alt="User Profile" width="100"/></div>
            </div>
        <!-- other wise show user profile -->
    <% } else {%>
        <div class="updateForm friend">
            <form action="">
                <div>User Name : <%= profile_user.name %></div>
                <div>
                   User Email : <%= profile_user.email %>
                </div>
                <% if(user.friends.includes(profile_user._id)) {%>
                    <div>
                    <p> Remove <a href="/user/delete/friend/?to=<%=profile_user._id %>&from=<%=user.id%>"><%=profile_user.name %></a> as a friend </p>
                    </div>
                    <% } else{ %>
                        <div>
                        <p> Add : <a href="/user/add/friend/?to=<%=profile_user._id %>&from=<%=user.id%>"><%=profile_user.name %></a> as a friend </p>
                        </div>
                <% } %>
            </form>
            <div class="profile-img">
                <img src="<%= profile_user.avatar %>"  alt="User Profile" width="100"/>
            </div>
        </div>
       

        <% } %>